
section{
    width:1920px;
    display: flex;
    margin: auto;
    height: 816.38px;

   
    position: relative;
    box-sizing: border-box;
    >#left-img{
        width: 710.39px;
        height:710.39px;
        background-image: url("./images/side_img.png");
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 52.9px;
        z-index: 2;
    }  
    >#tour-content{
             width:1270px;
            height:100%;
           background-color:#fef7f4 ;
            margin-left:590px; 
            margin-top: 0px;
            
            >#head{
                  
                   margin-top:210px;
                   margin-left:285px;
                   width: 267px;
                   height: 45px;
                   font-family: "Inter", sans-serif;
                font-size: 29px;
                font-weight: 700;
                line-height: 45px;
                letter-spacing: 0em;
                text-align: left;
                color: rgba(5, 7, 60, 1);
            }
            >#tagline{
                // width: 317.18px;
                 height: 28.13px;

                color: rgba(5, 7, 60, 1);
                margin-left: 285px;
                font-family: "Inter", sans-serif;
                font-size: 29px;
                line-height: 45px;
                letter-spacing: 0em;
                text-align: left;
                color: rgba(5, 7, 60, 1);


            }

            >#content1{
                height: 263.25px;
                width: 336.66px;
                background-color: white;
                position: absolute;
                left: 505px;
                top: 343px;
                z-index: 3;
                 border-radius: 24px;
            }
            >#content2{
             
                height: 263.25px;
                width: 336.66px;
                background-color: white;
               position: absolute;
              left:872px;
              top: 343px;
              border-radius: 24px;
            }
            >#content3{
                height: 263.25px;
                   width: 336.66px;
                   background-color: white;
                   position: absolute;
                 left:1238px;
                 top: 343px;
                 border-radius: 24px;
            }
            .content-img{
                width: 60px;
                height: 60px;
                margin-left: 40px;
                margin-top: 40px;
            }
            .content-title{
                  width: auto;
                  height: 27px;
                  margin-left: 40px;
                  margin-top: 30px;
                  font-family:"Inter", sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;

            }
            .tour-info{
                margin-top: 14px;
                margin-left: 40px;
                height: 48.12px;
                font-family: "Inter", sans-serif;
                font-size: 15px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;
                color: rgba(5, 7, 60, 1);

            }
            .content-info1{
                width: 189.92px;
                height: 48.12px;
                
                
            } 
            .content-info2{
                width: 232.42px;
                height: 48.12px;
                
                
            } 


            

    }
}